<div class="screenwrapper">
    <div class="row">
        <div class="col-xl-6 col-md-6 col-sm-12 col-12">
            <h2 class="page-head">Search Job Card</h2>
            <form class="filter-box" [formGroup]="filterForm" (ngSubmit)="filterSubmit()">
                <div class="col-xl-3 col-md-3 col-sm-6 col-6">
                    <div class="form-box">
                        <label for="Chassis_Number"> Chassis Number </label>
                        <input type="text" class="form-control" id="Chassis_Number" name="Chassis_Number"
                            formControlName="Chassis_Number" placeholder="Chassis Number">
                    </div>
                </div>
                <div class="col-xl-2 col-md-2 col-sm-6 col-6">
                    <div class="form-box">
                        <label for="JobID"> Job ID </label>
                        <input type="text" id="JobID" name="JobID" class="form-control" formControlName="JobID"
                            placeholder="Job ID ">
                    </div>
                </div>
                <div class="col-xl-3 col-md-3 col-sm-6 col-6">
                    <div class="form-box">
                        <label for="Customer_Name"> Customer Name </label>
                        <input type="text" id="Customer_Name" name="Customer_Name" class="form-control"
                            formControlName="Customer_Name" placeholder="Customer Name">
                    </div>
                </div>
                <div class="col-xl-3 col-md-3 col-sm-6 col-6">
                    <div class="form-box">
                        <label for="Customer_Mobile_No"> Customer Mobile No </label>
                        <input type="text" id="Customer_Mobile_No" name="Customer_Mobile_No" class="form-control"
                            formControlName="Customer_Mobile_No" placeholder="Customer Mobile No">
                    </div>
                </div>
                <div class="col-xl-1 col-md-1 col-sm-12 col-12 btn-box">
                    <button type="submit" class="btn btn-danger mb-xl-2">Search</button>
                    <button type="button" (click)="resetForm()" class="btn btn-cancel">Refresh</button>
                </div>
            </form>
            <div class="table-box" *ngIf="jobRequestList?.length">
                <div class="tablewrapper">
                    <table class="table table-striped table-responsive">
                        <thead>
                            <tr>
                                <th>Select</th>
                                <th>Job No</th>
                                <th>Chassis Number </th>
                                <th>Vehicle Model</th>
                                <th>Customer Name</th>
                                <th>Customer Mobile No</th>
                                <th>CreatedBy</th>
                                <th>CreatedDate </th>
                                <th>Current Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of jobRequestList; let index = index;">
                                <td class="text-center">
                                    <input type="radio" (change)="selectItem(item)" name="Stock_Receiving"
                                        class="form-check-input cursor-pointer">
                                </td>
                                <td> {{item.JobNo}} </td>
                                <td> {{item.Chassis_Number}} </td>
                                <td> {{item.Vehicle_Model}} </td>
                                <td> {{item.Customer_Name}} </td>
                                <td> {{item.Customer_Mobile_No}} </td>
                                <td> {{item.CreatedBy}} </td>
                                <td> {{item.CreatedDate}} </td>
                                <td> {{item.StatusDesc}} </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-xl-6 col-md-6 col-sm-12 col-12">
            <form class="filter-box" [formGroup]="vehicleDetails" (ngSubmit)="vehicleDetailSubmit()">
                <div class="col-12">
                    <h2 class="text-head">Update Job Card :-</h2>
                </div>
                <ng-container *ngFor="let field of formDataService.vehicleformFields">
                    <div class="col-xl-3 col-md-3 col-sm-12 col-12">
                        <div class="form-box">
                            <label [for]="field.id">{{ field.label }}</label>
                            <input [type]="field.type" [id]="field.id" [name]="field.id"
                                [formControlName]="field.formControlName" class="form-control"
                                [placeholder]="field.placeholder">
                        </div>
                    </div>
                </ng-container>
                <div class="col-12 mt-3">
                    <h2 class="text-head">Customer Details :-</h2>
                </div>
                <div class="col-xl-3 col-md-3 col-sm-12 col-12">
                    <div class="form-box">
                        <label for="Customer_Name"> Customer Name </label>
                        <input type="text" id="Customer_Name" name="Customer_Name" formControlName="Customer_Name"
                            class="form-control" placeholder="Enter Customer Name">
                    </div>
                </div>
                <div class="col-xl-3 col-md-3 col-sm-12 col-12">
                    <div class="form-box">
                        <label for="Customer_Mobile_No"> Customer Mobile No </label>
                        <input type="number" id="Customer_Mobile_No" name="Customer_Mobile_No"
                            formControlName="Customer_Mobile_No" class="form-control"
                            placeholder="Enter Customer Mobile No ">
                    </div>
                </div>
                <div class="col-xl-6 col-md-6 col-sm-12 col-12">
                    <div class="form-box">
                        <label for="Address"> Address </label>
                        <input type="text" id="Address" name="Address" formControlName="Address" class="form-control"
                            placeholder="Enter Customer Address  ">
                    </div>
                </div>
                <div class="col-12 mt-3">
                    <h2 class="text-head">Service Details :-</h2>
                </div>
                <div class="col-xl-12 col-md-12 col-sm-12 col-12">
                    <div class="form-box jobsradio">
                        <label class="form-check-label main">Warranty Type :</label>
                        <div class="radioboxwrapper" *ngFor="let option of formDataService.radioOptions">
                            <div class="radiobox">
                                <input type="radio" class="form-check-input" formControlName="Warranty_Type"
                                    [value]="option.value" [id]="option.id">
                                <label class="form-check-label" [for]="option.id">{{ option.label }}</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-12 col-md-12 col-sm-12 col-12">
                    <div class="form-box jobsradio">
                        <label class="form-check-label main">Service No :</label>
                        <div class="radioboxwrapper" *ngFor="let value of [1, 2, 3, 4, 5, 6, 7]">
                            <div class="radiobox">
                                <input type="radio" class="form-check-input" formControlName="service_no"
                                    [value]="value" [id]="value + 'th'">
                                <label class="form-check-label me-2" [for]="value + 'th'">{{ value }}</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-7 col-md-7 col-sm-12 col-12">
                    <div class="form-box jobsradio">
                        <label for="job_description" class="form-check-label main">Job Description :</label>
                        <textarea rows="3" type="text" id="job_description" name="job_description"
                            formControlName="job_description" class="form-control"
                            placeholder="Job Description"></textarea>
                    </div>
                </div>
                <div class="col-12 mt-3">
                    <h2 class="text-head">Spare Part/Service List :-</h2>
                </div>
                <div class="tablewrapper">
                    <table class="table table-striped table-responsive">
                        <thead>
                            <tr>
                                <th
                                    *ngFor="let value of ['Line Item', 'Service Type', 'Service Item', 'MRP', 'Dealer Price', 'SGST', 'CGST','IGST','Total Price','Quantity','G.Total','Action']">
                                    {{value}}
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of partandservicesArr; let index = index;">
                                <td>{{item.LineItem}}</td>
                                <td>
                                    <ng-container *ngIf="index === partandservicesArr.length - 1; else textDisplay1">
                                        <select name="ServiceType" class="form-control"
                                            (change)="handleChange($event, 'ServiceType', item, index)">
                                            <option value="">Select Service Type</option>
                                            <option value="Labour Activity">Labour Activity</option>
                                            <option value="Spare Part">Spare Part</option>
                                        </select>
                                    </ng-container>
                                    <ng-template #textDisplay1>
                                        <span class="text">{{item.ServiceType}}</span>
                                    </ng-template>
                                </td>
                                <td>
                                    <ng-container *ngIf="index === partandservicesArr.length - 1; else textDisplay2">
                                        <select name="ServiceCode" class="form-control"
                                            (change)="handleChange($event, 'ServiceCode', item, index)">
                                            <option value="">Select Service Item</option>
                                            <option value="{{item.ServiceCode}}" *ngFor="let item of serviceItemList">
                                                {{item.ServiceDesc}}</option>
                                        </select>
                                    </ng-container>
                                    <ng-template #textDisplay2>
                                        <span class="text">{{item.ServiceCode}}</span>
                                    </ng-template>
                                </td>
                                <td>{{item.MRP}}</td>
                                <td>{{item.DealerPrice}}</td>
                                <td>{{item.SGST}}</td>
                                <td>{{item.CGST}}</td>
                                <td>{{item.IGST}}</td>
                                <td>{{item.TotalPrice}}</td>
                                <td>
                                    <ng-container *ngIf="index === partandservicesArr.length - 1; else textDisplay3">
                                        <input type="number" placeholder="Enter Quantity" [value]="item.Quantity"
                                            name="Quantity" class="form-control"
                                            (change)="handleChange($event, 'Quantity', item, index)">
                                    </ng-container>
                                    <ng-template #textDisplay3>
                                        <span class="text">{{item.Quantity}}</span>
                                    </ng-template>
                                </td>
                                <td>{{item.GTotal}}</td>
                                <td>
                                    <div class="table-actionbuttons">
                                        <button type="button" *ngIf="index === partandservicesArr.length - 1"
                                            class="btn btn-danger" (click)="addPartListRow()">
                                            <i class="fas fa-plus"></i>
                                        </button>
                                        <button type="button" *ngIf="index !== partandservicesArr.length - 1"
                                            class="btn btn-danger" (click)="deletePartListRow(index)">
                                            <i class="fas fa-trash"></i>
                                        </button>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                </div>
                <div class="col-xl-3 col-md-3 col-sm-12 col-12" *ngFor="let field of formDataService.formFields">
                    <div class="form-box">
                        <label [for]="field.id">{{ field.label }}</label>
                        <input [type]="field.type" [id]="field.id" [name]="field.id"
                            [formControlName]="field.formControlName" class="form-control"
                            [placeholder]="field.placeholder">
                    </div>
                </div>
                <div class="col-xl-12 col-md-12 col-sm-12 col-12">
                    <div class="form-box jobsradio">
                        <label class="form-check-label main">Accessories Available :</label>
                        <div class="radioboxwrapper" *ngFor="let accessory of formDataService.accessories">
                            <div class="radiobox">
                                <input type="checkbox" class="form-check-input" [id]="accessory.id"
                                    [formControlName]="accessory.formControlName">
                                <label class="form-check-label" [for]="accessory.id">{{ accessory.label }}</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6 col-md-6 col-sm-12 col-12">
                    <div class="form-box">
                        <label for="DamageifAny"> Damage if Any </label>
                        <textarea type="text" rows="5" id="DamageifAny" name="DamageifAny" formControlName="DamageifAny"
                            class="form-control" placeholder="Enter if there is any damage">
                        </textarea>
                    </div>
                </div>
                <div class="col-12 submit-btn">
                    <button class="btn btn-danger" [disabled]="filterForm.invalid">Submit</button>
                </div>
            </form>
        </div>
    </div>

</div>