<div class="screenwrapper">
    <h2 class="page-head">Form Upload 22</h2>
    <div class="form-table-screen d-flex">
        <!-- form search  -->
        <form class="pageform mb-4" [formGroup]="searchForm" (ngSubmit)="checkChassie()">
            <div class="row d-flex align-items-end justify-content-start">
                <div class="col-xl-6 col-lg-6 col-md-6 col-12">
                    <div class="form-box d-flex align-items-center">
                        <div class="col-xl-3 col-lg-4 col-md-4 col-sm-3 col-3">
                            <label for="ChassisNumber" class="form-check-label">Chassis Number :</label>
                        </div>
                        <div class="col-xl-9 col-lg-8 col-md-8 col-sm-9 col-9">
                            <input type="text" id="ChassisNumber"  name="ChassisNumber" formControlName="ChassisNumber"
                            class="form-control" >
                        </div>    
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-12 d-flex justify-content-start">
                    <div class="form-box ">
                        <button class="searchattandance btn btn-danger" >Validate Chassis Number</button>
                    </div>
                    <div class="form-box ms-2">
                        <button type="button" (click)="resetForm()" class="searchattandance btn btn-secondary" >Refresh</button>
                    </div>
                </div>
            </div>
            <div>
                <h6 class="text-danger ">
                   {{Message}}
                </h6>
            </div>
        </form>
    </div>
    <div class="form-table-screen d-flex" *ngIf="form22Data.isVisible !== 0">
        <div class="pageform">
            <div class="col-12">
                <div class="form-box d-flex">
                    <div class="radioboxwrapper mx-2 d-flex">  
                        <label for="name" class="form-check-label">Chassis Number  : </label>
                    </div>
                    <div class="radioboxwrapper mx-2 d-flex ">
                        <p>{{form22Data.ChassisNumber}}</p>
                    </div>
                 </div>
            </div>

            <div class="col-12" *ngIf="form22Data.isVisible == 1">
                <div class="form-box d-flex">
                    <div class="radioboxwrapper mx-2 d-flex ">  
                        <label for="name" class="form-check-label">Download Form 22:</label>
                    </div>
                    <div class="radioboxwrapper mx-2 d-flex ">
                        <button class="btn btn-secondary" (click)="downloadFile()"> Download </button>
                    </div>
                 </div>
            </div>
            <div class="col-12">
                <form class=" form-box  mx-2 mt-2" [formGroup]="uploadForm" (ngSubmit)="uploadFrom()">
                    <div class="row d-flex align-items-end justify-content-start">
                        <div class="col-xl-6 col-lg-6 col-md-6 col-12">
                            <div class="form-box d-flex align-items-center">
                                <div class="col-xl-2 col-lg-4 col-md-4 col-sm-3 col-3">
                                    <label for="ChassisNumber" class="form-check-label">Upload From 22:</label>
                                </div>
                                <div class="col-xl-10 col-lg-8 col-md-8 col-sm-9 col-9">
                                    <input type="file" id="fileUpload" (change)="onFileChange($event)"  name="fileUpload" formControlName="fileUpload"
                                    class="form-control" >
                                </div>    
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-12 d-flex justify-content-start">
                            <div class="form-box ">
                                <button class="searchattandance btn btn-danger" [disabled]="uploadForm.invalid">Upload Form</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        
    </div>
</div>
