<div class="changepasswordscreen">
    <form [formGroup]="loginForm" class="changepassword" (ngSubmit)="submitHandler()">
        <div class="head">Change Password</div>
        <div class="inputBox">
            <label for="pass">New Password</label>
            <div [ngClass]="{ 'inputWrapper': true, 'error': pass && pass.invalid && pass.touched }">
                <div class="iconBox"><i class="fas fa-unlock-alt"></i></div>
                <div class="inputs">
                    <input formControlName="pass" type="password" placeholder="Enter New Password" name="pass"
                        [ngClass]="{ 'form-control': true, 'is-invalid': pass && pass.invalid && pass.touched }" />
                </div>
            </div>
            <div class="form-error-message" *ngIf="pass && pass.invalid && pass.touched">Invalid Password</div>
        </div>
        <div class="inputBox">
            <label for="conPass">Confirm Password</label>
            <div [ngClass]="{ 'inputWrapper': true, 'error': conPass && conPass.invalid && conPass.touched }">
                <div class="iconBox"><i class="fas fa-unlock-alt"></i></div>
                <div class="inputs">
                    <input formControlName="conPass" type="password" placeholder="Confirm Your New Password"
                        name="conPass"
                        [ngClass]="{ 'form-control': true, 'is-invalid': conPass && conPass.invalid && conPass.touched }" />
                </div>
            </div>
            <div class="form-error-message" *ngIf="conPass && conPass.invalid && conPass.touched">Invalid Password
            </div>
        </div>
        <div class="form-info-text" *ngIf="loginForm.invalid"> Password should be at least 6 characters long and include at least one uppercase letter, one lowercase letter, one digit, and one special character.  </div>
        <div class="d-flex align-items-center justify-content-between mt-3">
            <button [disabled]="loginForm.invalid" type="submit" class="btn btn-danger">Submit</button>
        </div>
    </form>
</div>