.form-wrapper {
    .box-head {
        font-size: 18px;
    }

    .filter-box {
        margin-bottom: 10px;
    }

    .text-head {
        font-size: 16px;
        position: relative;
        display: block;
        padding: 5px 10px;
        border-radius: 5px;
        margin-bottom: 10px;
        background: #efefef;
    }
}


.form-box {
    &.jobsradio {
        display: flex;
        align-items: center;
        overflow: auto;

        .main {
            margin-right: 20px;
            min-width: 15%;
        }
    }
}
.btn-box{
    display: flex;
    align-items: center;

    .show-job{
        margin-left: 10px;
        font-size: 13px;
        font-weight: 600;
        color: #5866d1;
        cursor: pointer;
    }
}

.tablewrapper {
    width: 100%;
    overflow: auto;

    .table {
        thead {
            tr {
                th {
                    background-color: #8e8e8e;
                    color: #fff;
                    white-space: nowrap;
                    padding: 10px;

                    &:first-child {
                        border-radius: 5px 0px 0px 0px;
                    }

                    &:last-child {
                        border-radius: 0px 5px 0px 0px;
                    }
                }
            }
        }

        tr {
            width: 100%;

            td {
                .form-control {
                    padding: 4px 7px 2px;
                    font-size: 14px;
                    font-weight: normal;
                    line-height: 1.35;
                }

                .btn {
                    margin: 0px 5px;
                }
            }
        }
    }
}

@media screen and (max-width: 990px) {
    .form-box {
        &.jobsradio {
            display: block;

            .main {
                margin-right: 20px;
                min-width: 10%;
            }

            .radioboxwrapper {
                display: block;

                .radiobox {
                    margin-bottom: 10px;
                }
            }
        }
    }
}