<div class="main-wrapper">
    <div class="sign-in-wrapper">
        <div class="signinMain">

            <form [formGroup]="loginForm" (ngSubmit)="submitHandler()">
                <div class="animatedicon">
                    <!-- <div class="header"> Sign-in </div> -->
                    <img src="/assets/images/main-logo.jpg" alt="icons">
                    <div class="textSec">
                        <div class="line-under">
                            Forgot Password?
                        </div>
                    </div>
                </div>
                <div class="inputBox mb-5">
                    <label for="email"> UserId </label>
                    <div [ngClass]="{ 'inputWrapper ': true, 'error': userid && userid.invalid && userid.touched}">
                        <div class="iconBox"><i class="fas fa-user"></i></div>
                        <div class="inputs">
                            <input formControlName="userid" type="text" placeholder="Enter userid" name="userid"
                            [ngClass]="{ 'form-control': true, 'is-invalid': userid && userid.invalid && userid.touched }" />
                        </div>
                    </div>
                    <div class="form-error-message" *ngIf="userid && userid.invalid && userid.touched"> Invalid Email
                    </div>
                </div>
                <div class="d-flex align-items-center">
                    <button [disabled]="loginForm.invalid" type="submit" class="btn btn-danger"> Submit </button>
                    <a routerLink="/" class="text-decoration-none btn btn-cancel ms-3">Go Back</a>
                </div>
            </form>
        </div>
    </div>
    <div class="modal_component">
        <ng-template #otpModal let-modal>
            <div class="modal_component">
                <div class="modal-header">
                    <h4 class="modal-title">Enter OTP</h4>
                </div>
                <form [formGroup]="otpForm" (ngSubmit)="otpSubmit()">
                    <div class="modal-body">
                        <div class="input-box">
                            <label for="otpVal">OTP</label>
                            <input id="otpVal" formControlName="otp" type="number" maxlength="6"
                                placeholder="Enter OTP" class="form-control" (keypress)="onInputKeypress($event)" />
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button (click)="cancelResetPwd()" type="button" class="btn btn-secondary">Go Back</button>
                        <button [disabled]="!otpForm.valid" type="submit" class="btn btn-danger">Submit OTP</button>
                    </div>
                </form>
            </div>
        </ng-template>
    </div>
</div>