.main-wrapper {
   

    .sign-in-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: 85vh;
    }

    .signinMain {
        box-shadow: 0 8px 24px hsla(210, 8%, 62%, .2);
        background-color: #fff;
        backdrop-filter: hue-rotate(357deg);
        padding: 0px 20px 20px;
        width: 35vw;

        .header {
            color: #bc312e;
        }

        .inputBox {
            margin-bottom: 15px;

            label {
                font-weight: 500;
                margin-bottom: 7px;
            }
        }

        .animatedicon {
            text-align: center;
            position: relative;
            margin-bottom: 30px;
            padding: 20px 0px;

            img {
                width: 200px;
            }

            .textSec {
                color: #bc312e;
                text-align: center;
                margin-top: 10px;

                .main-text {
                    font-weight: 600;
                    font-size: 25px;
                }
            }
        }
    }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    display: none;
}

.modal_component {
    .input-box {
        label {
            font-weight: 500;
            margin-bottom: 7px;
        }
    }

    .modalimg {
        text-align: center;

        img {
            width: 200px;

        }
    }
}

@media screen and (max-width: 767px) {
    .main-wrapper {
        .signinMain {
            width: 95vw;

            .animatedicon {
                margin-bottom: 50px;

                .textSec {
                    width: 100%;
                    bottom: -65px;
                }
            }
        }
    }
}