.error-message{
    font-size: large;
    color: red;
}

.cursor {
    cursor: pointer;
}

.searchattandance{
    margin-top: 10px;
}  

.search{
    border: 1px solid #dee2e6;
    border-left: none;
    padding: 6px;
}

.search-input{
    border: 1px solid #dee2e6;
    border-right: none;
    border-radius: 0% !important;
}
