

.search-input{
    border: 1px solid #dee2e6;
    border-radius: 0% !important;
    border-radius: 0.375rem !important;
    overflow: hidden;

    .form-control{
        border-radius: 0px;
        border: 0px ;
        border-right:  1px solid #dee2e6;
    }

    .search{
        padding: 3px;
        cursor: pointer;
    }
}
