<nav class="navbar navbar-expand-lg navBarCustom">
    <div class="container-fluid">

        <a class="navbar-brand" routerLink="">
            <img src="/assets/images/baxy-logo.svg" alt="Baxy">
        </a>
        <div class="navOptions" #navbarSupportedContent="ngbDropdown" ngbDropdown id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 desktopview mb-lg-0">
                <div *ngIf="isLoggedin" class="nav-item nav-buttons">
                    <div class="profileBtnSec" ngbDropdown #myDrop="ngbDropdown">
                        <button type="button" class="btn btn-Profile" id="dropdownManual" ngbDropdownAnchor
                            (focus)="myDrop.open()">
                            <img src="/assets/images/avatar.png" alt="home">
                        </button>
                        <div ngbDropdownMenu aria-labelledby="dropdownManual">
                            <div ngbDropdownItem class="userProfileDetails">
                                <div class="name">{{userInfoData?.name || 'User Name'}}</div>
                            </div>
                            <a class="link text-decoration-none" routerLink="/changePassword">
                                <div ngbDropdownItem> Change Password </div>
                            </a>
                            <div class="cursor-pointer" (click)="setConfirmBox(true)" ngbDropdownItem> Logout </div>
                        </div>
                    </div>
                </div>
            </ul>
            <button *ngIf="isLoggedin" class="navbar-toggler" (click)="toggleSidebar()">
                <i class="fa fa-bars text-white"></i>
            </button>
        </div>
    </div>
</nav>
<app-confirmbox [confirmText]="'Logout'" *ngIf="confirmBox" (setConfirmBox)="setConfirmBox(false)"
    (submitFunc)="LogoutFunc()"></app-confirmbox>