<div class="footer">
    <div class="row align-items-center">
        <div class="col-xl-6 col-md-6 col-sm-12 col-12">
            <div class="text"> Copyright © 2023 BAXY. All Rights Reserved | Site Map | Disclaimer </div>
        </div>
        <div class="col-xl-6 col-md-6 col-sm-12 col-12">
            <div class="icons">
                <a target="_blank" href="https://www.facebook.com/baxymobility">
                    <i class="fab fa-facebook icon"></i>
                </a>
                <a target="_blank" href="https://www.youtube.com/channel/UCBXtQWBB9VIde_TL-qCVOeQ">
                    <i class="fab fa-youtube icon"></i>
                </a>
                <a target="_blank"
                    href="https://www.linkedin.com/authwall?trk=bf&trkInfo=AQHzZI_cyrsMAQAAAYlzIEUQPUH38AERoa8E29FHjHmVbR-nrN8J3nteGVPYWUXwnXqYTaHdbe5BU4zAKCWLVHWNsgKp0xbD0Jr9g0R7s2RtipuowZUrPWxMqEqB4sMJ_ca2M1U=&original_referer=&sessionRedirect=https%3A%2F%2Fwww.linkedin.com%2Fcompany%2Fbaxy-mobility%2F">
                    <i class="fab fa-linkedin icon"></i>
                </a>
                <a target="_blank"
                    href="https://www.linkedin.com/authwall?trk=bf&trkInfo=AQHzZI_cyrsMAQAAAYlzIEUQPUH38AERoa8E29FHjHmVbR-nrN8J3nteGVPYWUXwnXqYTaHdbe5BU4zAKCWLVHWNsgKp0xbD0Jr9g0R7s2RtipuowZUrPWxMqEqB4sMJ_ca2M1U=&original_referer=&sessionRedirect=https%3A%2F%2Fwww.linkedin.com%2Fcompany%2Fbaxy-mobility%2F">
                    <i class="fab fa-instagram icon"></i>
                </a>
            </div>
        </div>
    </div>
</div>